<%- include('partials/header') %>
<%- include('partials/navbar') %>
  <div class="container-main">
    <div class="flex flex-row-collapse flex-center">
      <%- include('partials/logo') %>
      <div class="flex-golden-ratio-desktop">
        <img src="/images/paper-tape/86.png" alt="" class="paper-tape">
        <article class="taped-content bg-top">
          <h1>Posts</h1>
          <p>Our most recent publications.</p>
        </article>
      </div>
    </div>
    <section>
      <a href="/<%= data.posts[1].category.permalink %>/<%= data.posts[2].permalink %>" class="display-block decoration-none color-text-inverted rotate-2 mobile-width-100 clickable">
        <img src="/images/paper-tape/82.png" alt="" class="paper-tape">

        <article class="taped-content bg-top taped-image" style="background-image: url(<%= data.posts[0].thumbnail %>)">
          <h2><%= data.posts[0].title %></h2>
          <p><%= data.posts[0].description %></p>
          <p><i class="fa-regular fa-clock"></i>&nbsp;&nbsp;<%= new Date(data.posts[0].displayAt?data.posts[0].displayAt:data.posts[0].createdAt).toLocaleDateString('sr') %></p>
        </article>
      </a>
      <div class="flex flex-row-collapse flex-center">
        <a href="/<%= data.posts[1].category.permalink %>/<%= data.posts[2].permalink %>" class="display-block decoration-none color-text-inverted rotate--3 flex-golden-ratio-desktop mobile-width-100 clickable">
          <img src="/images/paper-tape/88.png" alt="" class="paper-tape">
  
          <article class="taped-content bg-top taped-image" style="background-image: url(<%= data.posts[1].thumbnail %>)">
            <h2><%= data.posts[1].title %></h2>
            <p><%= data.posts[1].description %></p>
            <p><i class="fa-regular fa-clock"></i>&nbsp;&nbsp;<%= new Date(data.posts[1].displayAt?data.posts[1].displayAt:data.posts[1].createdAt).toLocaleDateString('sr') %></p>
          </article>
        </a>
        <div class="flex-fill"></div>
        <a href="/<%= data.posts[2].category.permalink %>/<%= data.posts[2].permalink %>" class="display-block decoration-none color-text-inverted rotate-5 mobile-width-100 clickable">
          <img src="/images/paper-tape/86.png" alt="" class="paper-tape">
  
          <article class="taped-content bg-top taped-image" style="background-image: url(<%= data.posts[2].thumbnail %>)">
            <h2><%= data.posts[2].title %></h2>
            <p><%= data.posts[2].description %></p>
            <p><i class="fa-regular fa-clock"></i>&nbsp;&nbsp;<%= new Date(data.posts[2].displayAt?data.posts[2].displayAt:data.posts[2].createdAt).toLocaleDateString('sr') %></p>
          </article>
        </a>
      </div>
    </section>
    <section class="flex flex-column">
      <% data.postsTrimmed.forEach(post => { %>
        <a href="/<%= post.category.permalink %>/<%= post.permalink %>" class="display-block decoration-none color-text margin-top clickable">
          <article class="bg-top container">
            <h2><%= post.title %></h2>
            <p><%= post.description %> </p>
            <p><i class="fa-regular fa-clock"></i>&nbsp;&nbsp;<%= new Date(post.displayAt?post.displayAt:post.createdAt).toLocaleDateString('sr') %></p>
          </article>
        </a>
      <% }) %>
    </section>
  </div>
  <%- include('partials/footer') %>