<%- include('partials/header') %>
    <div class="container-fluid contact_us_bg_img">
        <div class="container">
            <div class="row">
                <a href="#" class="fh5co_con_123">
                    <i class="fa-solid fa-hashtag"></i>
                </a>
                <a href="#" class="fh5co_con pt-2"><%= data.tag.name %></a>
            </div>
        </div>
    </div>
    <div class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">
                <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Objave</div>
                    </div>
                    <% data.posts.forEach(post=> {%>
                        <div class="row pb-4">
                            <div class="col-md-5">
                                <div class="fh5co_hover_news_img">
                                    <div class="fh5co_news_img"><img src="<%= post.thumbnail %>"
                                            alt="<%= post.title %>" /></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-7 animate-box">
                                <a href="/<%= post.category.permalink %>/<%= post.permalink %>"
                                    class="fh5co_magna py-2">
                                    <%= post.title %>
                                </a>
                                <a href="/<%= post.category.permalink %>/<%= post.permalink %>"
                                    class="fh5co_mini_time py-3">
                                    <%= post.author.name %> - <%= new Date(post.displayAt?post.displayAt:post.createdAt).toLocaleDateString('sr') %>
                                </a>
                                <div class="fh5co_consectetur">
                                    <%= post.description %>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <%- include('partials/sidebar') %>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>